# Joins
Joins are operations that allow combining data from two or more tables based on a specific condition. This condition usually involves a relationship between columns of the tables being joined. Joins are essential for performing complex queries involving multiple tables.

---
### Example to use joins
Using the Athletes dataset, we can generate an example.

In [2]:
import numpy as np
import pandas as pd

# Import and generate the dataframes
filepath = "../datasets/athletes/"
data_medals = pd.read_csv(filepath + "Medals.csv", encoding='ISO-8859-1')
data_country = pd.read_csv(filepath + "Athelete_Country_Map.csv", encoding="ISO-8859-1")
data_sports = pd.read_csv(filepath + "Athelete_Sports_Map.csv", encoding="ISO-8859-1")

# Delete duplicates athletes from Country and Sports DataFrames to keep junt one country
data_country_dp = data_country.drop_duplicates('Athlete')
data_sports_dp = data_sports.drop_duplicates('Athlete')

In [3]:
# Generate 6 random athletes to exclude them
rnd_athletes = np.random.choice(data_medals['Athlete'], size=6, replace=False)
for e, athlete in enumerate(rnd_athletes): print(f"{e+1}.- {athlete}")

1.- Sergey Garbuzov
2.- Liu Yanan
3.- Aaron Armstrong
4.- Yudel Johnson
5.- Radoslaw Zawrotniak
6.- Aleksandr Yeryshov

[Who is Michael Phelps?](https://en.wikipedia.org/wiki/Michael_Phelps)

In [4]:
def exclude_ath(data_dp, athletes, column='Athlete'):
    "Exclude athletes from data with Michael Phelps"
    data = data_dp[
        (~data_dp[column].isin(athletes))
        & (data_dp[column] != "Michael Phelps")
    ]
    return data

data_country_dlt = exclude_ath(data_country_dp, rnd_athletes)
data_sports_dlt = exclude_ath(data_sports_dp, rnd_athletes)
data_medals_dlt = exclude_ath(data_medals, rnd_athletes)

In [5]:
print(f"Rows deleted from data: {len(data_country_dp) - len(data_country_dlt)}")
data_country_dlt.head()

Rows deleted from data: 7

            Athlete        Country
1  Natalie Coughlin  United States
2     Aleksey Nemov         Russia
3     Alicia Coutts      Australia
4    Missy Franklin  United States
5       Ryan Lochte  United States

## Inner Join

- This type of Join returns only the rows that have at least one match in both tables.
- When an Inner Join is performed, the specified condition is applied to both tables, and only the rows that meet that condition are included in the result.
- For example, if you are joining an employees table with a departments table using the department ID as a key, an Inner Join will only return the rows where employees are assigned to an existing department.

<p align="center">
  <img src="../resources/img-joins/img-01.png" alt="Cross Join" style="width: 300px; height: auto;">
</p>

In [6]:
# data_medals has all its information
# data_country_dp has partial info is missingfrom 7 athletes
merger_inner = pd.merge(data_medals, data_country_dlt, how='inner', on='Athlete')

In [7]:
print(f"Merged Inner DF Length: {len(merger_inner)}")
merger_inner.head()

Merged Inner DF Length: 8606

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals,Country
0,Natalie Coughlin,25.0,2008,08/24/2008,1,2,3,6,United States
1,Natalie Coughlin,21.0,2004,08/29/2004,2,2,1,5,United States
2,Natalie Coughlin,29.0,2012,08/12/2012,0,0,1,1,United States
3,Aleksey Nemov,24.0,2000,10/01/2000,2,1,3,6,Russia
4,Alicia Coutts,24.0,2012,08/12/2012,1,3,1,5,Australia

## Left Join (Left Outer Join)

- A Left Join returns all the rows from the left table, along with the corresponding rows from the right table that meet the join condition, if any.
- If there are no matches in the right table for a row in the left table, NULL will be included in the columns from the right table in the result.
- This type of Join is useful when you want to include all the rows from the left table, regardless of whether they have matches in the right table.

<p align="center">
  <img src="../resources/img-joins/img-02.png" alt="Cross Join" style="width: 300px; height: auto;">
</p>

In [8]:
merger_left = pd.merge(data_medals, data_country_dlt, how='left', on='Athlete')
print(f"Merged Left DF Length: {len(merger_left)} vs Medals DF Length: {len(data_medals)}")

# We cant see the missing data from Country DF as NaN
merger_left.head()

Merged Left DF Length: 8618 vs Medals DF Length: 8618

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals,Country
0,Michael Phelps,23.0,2008,08/24/2008,8,0,0,8,NaN
1,Michael Phelps,19.0,2004,08/29/2004,6,0,2,8,NaN
2,Michael Phelps,27.0,2012,08/12/2012,4,2,0,6,NaN
3,Natalie Coughlin,25.0,2008,08/24/2008,1,2,3,6,United States
4,Aleksey Nemov,24.0,2000,10/01/2000,2,1,3,6,Russia

## Right Join (Right Outer Join)

- The Right Join is essentially the opposite of the Left Join.
- It returns all the rows from the right table and the corresponding rows from the left table that meet the join condition.
- If there are no matches in the left table for a row in the right table, NULL will be included in the columns from the left table in the result.
- Although less common than the Left Join, the Right Join can be useful when you want to include all the rows from the right table, regardless of whether they have matches in the left table.

<p align="center">
  <img src="../resources/img-joins/img-03.png" alt="Cross Join" style="width: 300px; height: auto;">
</p>

In [9]:
merger_right = pd.merge(data_medals_dlt, data_country_dp, how='right', on='Athlete')

# We have priority over the left table
print(f"Merged Right DF Length: {len(merger_right)} vs Country non duplicated length: {len(data_country_dp)}")
merger_right.head()

Merged Right DF Length: 8613 vs Country non duplicated length: 6956

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals,Country
0,Michael Phelps,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States
1,Natalie Coughlin,25.0,2008.0,08/24/2008,1.0,2.0,3.0,6.0,United States
2,Natalie Coughlin,21.0,2004.0,08/29/2004,2.0,2.0,1.0,5.0,United States
3,Natalie Coughlin,29.0,2012.0,08/12/2012,0.0,0.0,1.0,1.0,United States
4,Aleksey Nemov,24.0,2000.0,10/01/2000,2.0,1.0,3.0,6.0,Russia

## Full Join (Full Outer Join)

- Full Join returns all the rows from both tables, including rows where there are no matches in the other table.
- If there are no matches in the left table for a row in the right table, NULL will be included in the columns from the left table in the result, and vice versa.
- It is useful when you want to get all the rows from both tables, even those that do not have matches in the other table.

<p align="center">
  <img src="../resources/img-joins/img-04.png" alt="Cross Join" style="width: 300px; height: auto;">
</p>

In [10]:
def append_rows(df, elements):
    "Add a set of elements to dataframe"
    new_rows = [pd.DataFrame(element) for element in elements]
    new_df = pd.concat([df] + new_rows, ignore_index=True)
    return new_df

In [11]:
new_elements = [
    {"Athlete": ["Antonio Vázquez"], "Country": ["Mexico"]},
    {"Athlete": ["Regina Guerrero"], "Country": ["Mexico"]},
]

data_country_dlt = append_rows(data_country_dlt, new_elements)

data_country_dlt.tail(3)

              Athlete        Country
6948        Rod White  United States
6949  Antonio Vázquez         Mexico
6950  Regina Guerrero         Mexico

In [12]:
merger_outer = pd.merge(data_medals, data_country_dlt, how='outer', on='Athlete')

print(f"Merger Outer Length: {len(merger_outer)}")
merger_outer.tail()

Merger Outer Length: 8620

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals,Country
8615,Wietse van Alten,21.0,2000.0,10/01/2000,0.0,0.0,1.0,1.0,Netherlands
8616,Sandra Wagner-Sachse,31.0,2000.0,10/01/2000,0.0,0.0,1.0,1.0,Germany
8617,Rod White,23.0,2000.0,10/01/2000,0.0,0.0,1.0,1.0,United States
8618,Antonio Vázquez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mexico
8619,Regina Guerrero,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mexico

## Cross Join

- A Cross Join combines each row of the first table with every row of the second table, generating a Cartesian product.
- There is no explicit join condition in a Cross Join.
- The result will contain the total number of rows from the first table multiplied by the total number of rows from the second table.
- Cross Joins can be useful in specific situations, such as when you need to combine all possible combinations of two datasets. However, they can generate very large results and should be used with caution.

<p align="center">
  <img src="../resources/img-joins/img-05.png" alt="Cross Join" style="width: 500px; height: auto;">
</p>

---

## Some merge functions in Pandas
The join(), concat(), and merge() functions in Pandas are powerful tools for combining data from different DataFrames, but they differ in their approach and how they are used:

1. **merge():**
   - The merge() function is specifically used to combine DataFrames using common columns as merge keys.
   - It allows for different types of Joins, such as Inner Join, Left Join, Right Join, and Full Join.
   - It is more flexible and powerful when you need to combine DataFrames based on more complex conditions or multiple merge columns.
2. **join():**
   - The join() method is used to combine DataFrames based on their indices (whether simple or hierarchical).
   - It's useful when you want to combine DataFrames that share indices, making the operation simpler and more straightforward.
   - By default, it performs a Left Join using the index of the calling DataFrame (left), with the option to specify other types of Joins using the how parameter.
3. **concat():**
   - The concat() function is used to concatenate DataFrames along a specific axis (whether along rows or columns).
   - It doesn't perform a Join based on specific columns, but simply concatenates the DataFrames along the specified axis.
   - It's useful when you need to combine DataFrames that have the same columns or indices, but don't necessarily have common columns for a Join.

<div class="alert alert-block alert-info">
<b>💡:</b> The main difference between merge(), join(), and concat() lies in their approach to combining DataFrames. merge() is more suitable for combining DataFrames based on specific columns, join() for combining DataFrames based on indices, and concat() for concatenating DataFrames along an axis without performing a Join based on specific columns.
</div>

---

## References
[Chapter 17 Joining (Merging) Data | R for HR: An Introduction to Human Resource Analytics Using R](https://rforhr.com/join.html)